User Guide - Implemented AWS Resource Types
==============================================================================
Below is the list of implemented AWS resource types. If you don't see the resource type you need, please `open an issue with THIS LINK <https://github.com/MacHu-GWU/aws_resource_search-project/issues/new?assignees=MacHu-GWU&labels=feature&projects=&template=support-new-aws-resource.md&title=%5BFeature%5D+I+want+to+be+able+to+search+%24%7Bservice_name%7D-%24%7Bresource_name%7D>`_

{% for _, resource_type, _, _ in tuples %}
- ``{{ resource_type }}``
{%- endfor %}
